.search {
  padding: 8px var(--side-padding);
  min-height: 48px;
  display: flex;
  align-items: center;
  background-color: var(--color-white);
  gap: 8px;
  border-bottom: 1px solid var(--color-primary-gray300);
}

.search-icon {
  color: var(--color-primary-gray400);
}

.search-input {
  color: var(--color-primary-gray900);
  border: none;
}

.search-input::placeholder {
  color: var(--color-primary-gray900);
  opacity: 0.5;
}

.search-input:focus {
  outline: none;
}

.search-input:focus::placeholder {
  opacity: 0;
}
